.loader-container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: black;
    animation-name: loader;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-delay: 2s;
}

@keyframes loader {
    0% {
        opacity: 1;
        z-index: 9999;
    }
    100% {
        opacity: 0;
        z-index: -1000;
    }
}

.loader {
    display: flex;
    position: fixed;
    border: 16px solid #99e2d0;
    border-top: 16px solid #9356dc;
    border-bottom: 16px solid #FF79da;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 0.65s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.text {
    display: flex;
    position: fixed;
    height: 120px;
    width: 120px;
    font-family: 'Shrikhand', cursive;
    font-size: larger;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
}
