body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 500px;
}

.loader {
    display: flex;
    border: 16px solid #99e2d0;
    border-top: 16px solid #9356dc;
    border-bottom: 16px solid #FF79da;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 0.65s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.text {
    display: flex;
    font-family: 'Shrikhand', cursive;
    font-size: large;
    color: white;
    padding-left: 27px;
    padding-top: 50px;
}