body {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    background-color: black;
}

.loader {
    display: flex;
    position: fixed;
    border: 16px solid #99e2d0;
    border-top: 16px solid #9356dc;
    border-bottom: 16px solid #FF79da;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 0.65s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.text {
    display: flex;
    position: fixed;
    font-family: 'Shrikhand', cursive;
    font-size: medium;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
}